body {
	background-color: #E1E1E1;
    background-image: url("../img/bg.png");
    background-repeat: repeat-x;
    padding-top: 60px;
    position: relative;
}
/*------------------- Header section ------------------------*/
#logo {
	margin-bottom: 40px;
}

#logo h1 a, #logo h1 a:hover {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
}

#logo h2 {
	color: #999999;
	font-size: 16px;
	line-height: 16px;
}

#header-login label {
	color: #FFFFFF;
}

/*------------------- users module ------------------------*/
.account-container {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #DADADA, 0 -3px 0 #E6E6E6 inset;
    display: block;
}
.account-container h1 {
    color: #0074CC;
    margin-bottom: 0.4em;
}
.account-content {
    padding: 16px 28px 23px;
}

/*------------------- General ------------------------*/
.box {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #DADADA, 0 -3px 0 #E6E6E6 inset;
    display: block;
    padding: 16px 30px;
}