body {
    background-color: #e1e1e1;
    background: url(../img/dark_brick_wall.png) center top repeat;
    padding-top: 50px;
}
/* Navbar */
.navbar-fixed-top .brand {
    font-weight: bold;
    color: #EFA92E;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

/*  HEADER  */
#header {
    margin-bottom: 20px;
}
#header label.checkbox {
    color: #FFFFFF;
}
#logo h1 a, #logo h1 a:hover {
    color: #EFA92E;
    text-decoration: none;
}

/* Sidebar */
/*------------------------------------------------------------------
[6. Widget / .widget]
*/

.widget { 
    position: relative;
    clear: both;   
    width: auto;   
    margin-bottom: 2em;      
    overflow: hidden;
}
    
.widget-header {
    position: relative;  
    height: 40px;
    line-height: 40px;  
    background: #E9E9E9;
    background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
    background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
    background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')"; 
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}   
    
.widget-header h3 {
        
    position: relative;
    top: 2px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 800;
    color: #428dd0;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
    
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {   
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;   
    font-size: 16px;
    color: #555;
    vertical-align: middle;   
}

.widget-content {
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget-header+.widget-content {
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}

/* Widget Content Clearfix */   
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* users module */
#register-steps {
    padding-bottom: 10px;
}

/*  General */
.page-toolbar {
    background-color: #e8e8e8;
    padding: 10px;
    border: solid 1px #dcdcdc;
    border-radius: 5px;
}

.well {        
    border: solid 1px #dcdcdc;
    background-color: #FFFFFF;
}

.table, .accordion-toggle {
    background-color: #FFFFFF;
}

legend {
    color: #F89406;
    border-bottom: 1px solid #F89406;
}

.page-header {
    color: #0f5ca1;
    border-bottom: 1px solid #0f5ca1;
    margin-top: 0px;
}

