<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="##">{{ settings:site_name }}</a>
			<div class="nav-collapse">
				<ul class="nav">
					{{ navigation:links group="header" class='active' }}
				</ul>
				<ul class="nav pull-right">
					{{ if user:logged_in }}
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user:display_name }}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								{{ if settings:enable_profiles }}
								<li>
									<a href="{{ url:site uri='my-profile' }}"><i class="icon-user"></i>&nbsp;{{ user:display_name }}</a>
								</li>
								<li>
									<a href="{{ url:site uri='edit-profile' }}"><i class="icon-edit"></i>&nbsp;{{ helper:lang line="edit_profile_label" }}</a>
								</li>
								<li class="divider"></li>
								{{ endif }}
								<li>
									<a href="{{ url:site uri='users/logout' }}"><i class="icon-off"></i>&nbsp;{{ helper:lang line="logout_label" }}</a>
								</li>
							</ul>
						</li>
					{{ else }}
						<li>
							<a href="{{ url:site uri='users/login' }}">{{ helper:lang line='user_login_btn' }}</a>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<a href="{{ url:site }}register">{{ helper:lang line="user_register_btn" }}</a>
						</li>
					{{ endif }}
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
